#body
  %h1 Testing pattern extraction
  %h2 Results
  %p
    -(@results.keys-[:total]).each do |label|
      ==#{label}:
      %ul.detail
        %li
          %span.name
            Precision
          %span.date
            =percentage(@results[label][:precision])
        %li
          %span.name
            Recall
          %span.date
            =percentage(@results[label][:recall])
        %li
          %span.name
            F-score
          %span.date
            =percentage(@results[label][:fscore])
    Total:
    %ul.detail
      %li
        %span.name
          Precision
        %span.date
          =percentage(@results[:total][:precision])
      %li
        %span.name
          Recall
        %span.date
          =percentage(@results[:total][:recall])
      %li
        %span.name
          F-score
        %span.date
          =percentage(@results[:total][:fscore])

  %h2 Details
  %p
    %ul.detail
      %li
        %span.name
          Triples
        %span.date
          =@total
      %li
        %span.name
          Extracted triples
        %span.date
          =@extracted
      %li
        %span.name
          Correct triples
        %span.date
          =@correct
    Wrong triples:
    %pre.wide=escape_html @wrong.to_ntriples
    Missing triples:
    %pre.wide=escape_html @missing.to_ntriples
  %h2
    Retry?
  %form{:method=>:post}
    %p
      Add here any triples that should be counted as correct ones:
    %p
      %textarea{:name=>:output, :rows=>20, :wrap=>:off}=params["output"]
      -(params[:samples] || []).each do |sample|
        %input{:name=>"samples[]", :type=>:hidden, :value=>sample}
    %p
      %button Retry
