body {
  font-family: Arial, sans;
  margin: 0;
}
pre {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid;
  padding: 10px;
}
pre.wide {
  width: 770px;
  max-height: 900px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid;
  font-size: 12px;
  overflow: scroll;
  padding: 10px;
  font-family: monospace;
}
a:link, a:visited {
  color: #33f;
  text-decoration: none;
}
a:hover, a:active {
  color: #33f;
  text-decoration: underline;
}
h1, h2, h3, h4 {
  color: #888;
}
h2 {
  font-weight: normal;
  padding-bottom: 3px;
  padding-top: 5px;
  border-bottom: 1px solid #aaa;
}
img {
  border: none;
}


#bar {
  height: 33px;
  font-size: 13px;
  border-bottom: 1px solid;
  background-color: #eee;
  color: #ddd;
  margin: 0;
  padding: 0;
}
#bar ul {
  display: block;
  margin: 0 5px 0 5px;
  padding: 0;
  list-style-type: none;
}
#bar li {
  display: inline-block;
  margin: 0;
  padding: 0;
}
#bar a {
  position: relative;
  margin-left: -4px;
  height: 14px;
  padding: 10px;
  display: block;
}
#bar a:hover {
  background-color: #ddd;
  text-decoration: none;
}
#bar img {
  position: relative;
  top: -3px;
  vertical-align: middle;
}
#bar ul.left {
  float: left;
}
#bar ul.right {
  float: right;
}
#notice {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  width: 800px;
  color: #333;
  font-size: 14px;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#af9), to(#dfd));
  background: -moz-linear-gradient(top, #af9, #dfd);
  border-radius: 10px;
  -moz-border-radius: 10px;
}
#body {
  margin: auto; width: 800px; padding: 15px;
  font-size: 14px; color: #333;
}
#center {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
#search {
  margin-top: 40px;
  font-size:20px;
  margin-bottom: 10px;
}
#search input  {
  width: 700px; height:30px; font-size:16px;
}
#buttons {
  width: 400px;
  margin: auto;
}
#buttons select {
  width: 100px; height: 30px; font-size:16px;
  margin-left: 5px;
}
#buttons button {
  width: 100px; height: 30px; font-size:16px;
  margin-right: 5px;
}
#footer {
  margin-top:30px; text-align: center; font-size:12px; color: #555;
  height: 50px;
}

.bookmark,
a.bookmark:hover,
a.bookmark:visited,
a.bookmark:link,
a.bookmark:active {
  font-size: 11px;
  text-decoration: none;
  border-radius: 7px;
  padding: 6px;
  background-color: #ccc;
  background: -webkit-gradient(linear, left top, left bottom, from(#d7d7d7), to(#ababab));
  background: -moz-linear-gradient(top, #d7d7d7, #ababab);
  border-color: #c9c9c9;
  border-bottom-color: #9a9a9a;
  border-width: 1px;
  border-style: solid;
  margin: 5px;
  color: #444;
  -moz-border-radius: 7px;
}

ul.detail {
  padding: 0;
  list-style-type: none;
}
ul.detail li {
  font-size: 12px;
  padding: 6px;
  background-color: #eee;
  margin: 1px;
}
ul.detail li.special {
  background-color: #fff;
}
ul.detail li span {
  display: inline-block;
}
ul.detail li span.action {
  font-size: 10px;
  width: 10px;
}
ul.detail li span.name, ul.detail li span.short_name {
  width: 550px;
  overflow-x: hidden;
  white-space: nowrap;
  font-family: monospace;
}
ul.detail li span.short_name {
  width: 350px;
}
ul.detail li span.format {
  float: right;
  font-weight: bold;
  margin-left: 10px;
  text-align: center;
}
ul.detail li.special span.format {
  font-weight: normal;
}
ul.detail li span.date {
  float: right;
}

ul.detail li span.format a:hover,
ul.detail li span.format a:link,
ul.detail li span.format a:visited,
ul.detail li span.format a:active {
  color: #900;
}
ul.detail li span.action a:hover,
ul.detail li span.action a:link,
ul.detail li span.action a:visited,
ul.detail li span.action a:active {
  color: #900;
}
ul.detail li span.date a:hover,
ul.detail li span.date a:link,
ul.detail li span.date a:visited,
ul.detail li span.date a:active {
  color: #888;
}

fieldset {
  border:  0;
  padding: 0;
  margin:  0;
  vertical-align: baseline;
}

textarea {
  width: 100%;
}