!!!
%html
  %head
    %title Help - Scrappy
    %link{:type=>"text/css", :href=>"/stylesheets/application.css", :rel=>"stylesheet"}
  %body
    %div#header
      %img{:src=>'/images/logo_small.png'}
    %div#body
      %h1 Help
      %p
        Scrappy web server is a web interface to Scrappy functionalities.
        You can use it to get data from a web resource and integrate it with other system.
        The service uses the following URL format:
        %pre http://[host]/[format]/[url]
      %p
        For example, to retrieve http://example.com/~user/?test=1 with RDF serialization:
        %pre http://localhost:3434/rdf/http://example.com/~user/%3Ftest%3D1
      %p Available serialization formats are rdf, rdfxml, png, yarf, ntriples, turtle, json, jsonrdf, and ejson.
    %div#footer
      %a{:href=>"/"} Home
      |
      %a{:href=>"/help"} Help
      |
      %a{:href=>'http://github.com/josei/scrappy'} About