!!!
%html
  %head
    %title Scrappy
    %link{:type=>"text/css", :href=>"/stylesheets/application.css", :rel=>"stylesheet"}
  %body
    %div.center
      %a{:href=>'http://github.com/josei/scrappy'}
        %img{:src=>'/images/logo.png'}
      %form.search
        %div
          %select{:name=>:format}
            %option{:value=>:rdf} RDF
            %option{:value=>:png} PNG
            %option{:value=>:ejson} JSON
            %option{:value=>:yarf} YARF
            %option{:value=>:ntriples} nTriples
          %input{:name=>:uri, :size=>30, :type=>:text, :value=>'Enter URI...', :onclick=>"if(this.value=='Enter URI...') this.value='';"}
          %button Scrape
    %div#footer
      %a{:href=>"/"} Home
      |
      %a{:href=>"/help"} Help
      |
      %a{:href=>'http://github.com/josei/scrappy'} About